.main{
    width: 350px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 2rem 1.2rem;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.5);
}
.p{
    margin: 10px 0;
    font-weight: 600;
    font-size: 15px;
    color: #ccc;
}

.input{
    background-color: #202020;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.5);
    position: relative;
}
.input input{
    background-color: transparent;
    outline: none;
    border: none;
    color: #FFF;
    font-size: 18px;
    width: 100%;
}
.input input::placeholder{
    color: #cccc;
    font-weight: lighter;
}

.input button{
    color: #FFF;
    outline: none;
    cursor: pointer;
    border: none;
    background-color: transparent;
}